@import '../theme.scss';

window.bar {
	@include theme;
	border-radius: 12pt 12pt 12pt 12pt;
	// position: fixed;
}

window.workspaces{
    min-height: 12px;
	min-width: 180px;
}

window.clock {

}

button {
    min-width: 0;
	// min-height: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: transparent;
}

button:active {
    background-color: $Peach;
}

button:hover {
    border-bottom: 3px solid $Overlay1;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid $Peach;
}

.client-title {
    color: $Text;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 12px;
	// padding: 0;
}